/* 標題的樣式 */
.navbar-brand {
  font-weight: bold;
}

/* 所有選項的樣式 */
.nav-link {
  font-weight: bold;
  color: #fff !important;
}

/* 作品集下拉選單的樣式 */
.dropdown-menu {
  background-color: #101a0e;
}

/* 作品集下拉選單中每個選項的樣式 */
.dropdown-item {
  font-weight: bold;
  color: #fff !important;
}

/* 滑鼠移動至作品集時，顯示下拉選單 */
.nav-item:hover .dropdown-menu {
  display: block;
}
.navbar-custom {
  background-color:#111711 ;
}
/* 調整下拉選單的觸碰反白顏色 */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #2158aa; /* 這裡可以改成您想要的顏色 */
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0d352d;
  color: white;
  font-weight: bold;
}

footer a {
  color: white;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
